/* header */
.col2{
    padding: 10px;
    
  }
  .col5{
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .row2{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  } 
  .col3{
    padding-right: 15%;
  }
  .iconlogo{
    height: 100px;
    width:100px;
  }
  .burger{
    height: 60px;
    width:60px;
    float: left;
  }
  .dropplease{
    padding: 0;
    margin: 0;
  }
  ul{
    list-style: none;
    
  }
  ul li{
    display: inline-block;
    position: relative;
  }
  ul li a{
    display: block;
    padding: 20px 23px;
    color: #fff;
    text-decoration: none;
    text-align: center;
    font-size: 20px;
  }
  ul li ul.dropdown li{
    display: block;
  }
  ul li ul.dropdown{
    width: 100%;
    background:#f9f190;
    position: absolute;
    
    display: none;
    
  }
  ul li a:hover{
    background: #f7d5df;
  }
  ul li:hover ul.dropdown{
    display: block;
  }