/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
} */

.container {
  /* width: 100%; */
  /* display: flex; */
  align-self: center;
  margin: auto;
}

@media (min-width: 576px) {
  .container {
    width: 540px;
  }
} 

@media (min-width: 1200px) {
  .container {
    width: 1140px;
  }
} 

/* .main-layout*/
  /* display:grid;加這個content會跑版
  min-height: 100vh;
  grid-template-areas: 'header' 'content' 'footer';
  grid-template-rows: auto 1fr auto;
  gap:1rem;
}

.layout-header{
  grid-area:'header';
  padding:0px;
  height: auto !important;
  line-height: 1.6;
  background-color: black!important;
}  */