/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
} */

.container {
  /* width: 100%; */
  /* display: flex; */
  align-self: center;
  margin: auto;
}

@media (min-width: 375px) {
  .container {
    width: 340px;
  }
} 

@media (min-width: 1200px) {
  .container {
    width: 1140px;
  }
} 


  