body{
  /* margin:0;
  width:100%;
  height:9000px;
  background-color :#f9f190; */
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  /* min-height: 100vh; */
  background-color: #eee;
}

/* .container {
  width: 100%;
  display: flex;
  align-self: center;
  margin: auto;
} */

@media (min-width: 576px) {
.container {
  width: 540px;
}
} 

@media (min-width: 768px) {
.container {
  width: 720px;
}
} 

@media (min-width: 992px) {
.container {
  width: 960px;
}
} 

@media (min-width: 1200px) {
.container {
  width: 1140px;
}
} 


@media (min-width: 1600px) {
.container {
  width: 1500px;
}
} 


body {
  background-color: #c2ddc4;
}

.main-layout {
  display: grid;
  min-height: 100vh;
  grid-template-areas: 
    'header'
    'content'
    'footer'
  ;
  grid-template-rows: auto 1fr auto;
  gap: 1rem;
}
.layout-header {
  grid-area: header;
  
  height: auto;
  
  background-color: #c2ddc4;
}

.layout-footer {
  grid-area: footer;
  
  height: auto;
  
  background-color: #c2ddc4;
}

.layout-content {
  grid-area: content;
  background-color: #c2ddc4;
}
/* header */
.col2{
  padding: 10px;
}
.col5{
  display: flex;
  flex-direction: row;
  align-items: center;
}
.row2{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
} 
.col3{
  padding-right: 15%;
}

/* content */



/* footer */
.row1{
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.col1{
  justify-content: center;
  align-items: center;
  padding: 10px;
}
/* pics */
.iconcart {
  height: 40px;
  width: 40px;
  }      
.iconsearch {
  height: 40px;
  width: 40px;
  }     
.iconlanguage {
  height: 40px;
  width: 40px;
  }     
.iconlogin{
  height: 40px;
  width: 40px;
  }   
  .icontiktok {
      height: 40px;
      width: 40px;
      }      
  .iconyoutube {
      height: 40px;
      width: 40px;
      }     
  .iconig {
      height: 40px;
      width: 40px;
      }     
  .iconfb{
      height: 40px;
      width: 40px;
      }  


.text-color-1 {
  color: #000000;
}
